<div id="<%= dom_id mobile %>">
  <p>
    <strong>Name:</strong>
    <%= mobile.name %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= mobile.brand %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= mobile.price %>
  </p>

</div>
